@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes fly-across {
  0% {
    transform: translateX(-80px) translateY(-50%);
    opacity: 0;
  }
  15% {
    transform: translateX(-40px) translateY(-50%);
    opacity: 1;
  }
  85% {
    transform: translateX(40px) translateY(-50%);
    opacity: 1;
  }
  100% {
    transform: translateX(80px) translateY(-50%);
    opacity: 0;
  }
}

@utility animate-fly-across {
  animation: fly-across 5s ease-in-out infinite;
}
